CHAIN_WS_URL=
IPFS_URL=


SDK_REST_URL=

OWNER_SEED=''
OWNER_ADDRESS=

COLLECTION_ADMIN_MNEMONIC=''



# Папка с файлами
FILES_DIR=files
# Время обновление данных в формате cron
#CRON_TIME="* * * * *" # Каждую минуту
CRON_TIME="*/5 * * * * *" # Каждые 10 секунд
# API
API_COUNT_URL=
API_WEIGHT_URL=
API_KEY=